site_name: ROBLOX - Error_code wiki
site_url: https://sitename.example
theme:
  name: material
  font:
    text: Inter
  icon:
    logo: fontawesome/solid/database
  palette:
    scheme: slate
    primary: red
    accent: red
  features:
    - content.code.copy
    - navigation.footer
nav:
  - Introduction: index.md

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - footnotes
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true

copyright: Copyright &copy; 2026 | mrow
