:root  > * {
  --md-primary-fg-color:        #9b2525;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #ff0011;
}

[data-md-color-scheme="slate"] {
  --md-hue: 2; 
  --md-primary-fg-color:        #9b2525;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #ff0011;
}

body.md-nav__link {
  --md-default-bg-color: #00000000;
}

/* Sillies */

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  z-index: -1;
  overflow: hidden;
}

.video-container iframe {
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* prevents clicking */
}